@{
    Layout = "";
}
@model Nop.Plugin.Payments.TodoPago.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>Todo Pago</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <h4><p style="color:red;">@ViewBag.getDescriptionError</p></h4>
                    <h4><p><div style="color:red;" class="github-message"></div></p></h4>
                    <em>Medio de pago Todo Pago</em><br /><br />
                    <em>Version del plugin @ViewBag.versionTodoPago</em><br /><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AmbienteId_OverrideForStore, model => model.AmbienteId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AmbienteValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("AmbienteId", Model.AmbienteValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SegmentoId_OverrideForStore, model => model.SegmentoId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SegmentoValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("SegmentoId", Model.SegmentoValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SetCuotas_OverrideForStore, model => model.SetCuotas, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SetCuotas):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SetCuotas)
                @Html.ValidationMessageFor(model => model.SetCuotas)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MaxCuotasId_OverrideForStore, model => model.MaxCuotasId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MaxCuotasValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("MaxCuotasId", Model.MaxCuotasValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SetTimeout_OverrideForStore, model => model.SetTimeout, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SetTimeout):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SetTimeout)
                @Html.ValidationMessageFor(model => model.SetTimeout)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Timeout_OverrideForStore, model => model.Timeout, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.Timeout):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Timeout)
                @Html.ValidationMessageFor(model => model.Timeout)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Chart_OverrideForStore, model => model.Chart, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.Chart):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Chart)
                @Html.ValidationMessageFor(model => model.Chart)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Hibrido_OverrideForStore, model => model.Hibrido, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.Hibrido):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Hibrido)
                @Html.ValidationMessageFor(model => model.Hibrido)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <br />
                    <em>Billetera en Checkout</em><br />
                    <em>Seleccione el banner que desea mostrar para billetera</em><br /><br />
                </p>
            </td>
        </tr>

        <tr>
            <td class="adminTitle" style="text-align: right;">
                @Html.RadioButton("UrlBannerBilletera", "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta1.jpg", (Model.UrlBannerBilletera == "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta1.jpg"), new { id = "billetera-banner-1" })
            </td>
            <td class="adminData">
                <label for="billetera-banner-1"><img src="https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta1.jpg" height="50" /></label>
            </td>
        </tr>

        <tr>
            <td class="adminTitle" style="text-align: right;">
                @Html.RadioButton("UrlBannerBilletera", "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta2.jpg", (Model.UrlBannerBilletera == "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta2.jpg"), new { id = "billetera-banner-2" })
            </td>
            <td class="adminData">
                <label for="billetera-banner-2"><img src="https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta2.jpg" height="50" /></label>
            </td>
        </tr>

        <tr>
            <td class="adminTitle" style="text-align: right;">
                @Html.RadioButton("UrlBannerBilletera", "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta3.jpg", (Model.UrlBannerBilletera == "https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta3.jpg"), new { id = "billetera-banner-3" })
            </td>
            <td class="adminData">
                <label for="billetera-banner-3"><img src="https://todopago.com.ar/sites/todopago.com.ar/files/billetera/pluginstarjeta3.jpg" height="50" /></label>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <br />
                    <em>Credenciales</em><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.UserDev_OverrideForStore, model => model.UserDev, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.UserDev):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UserDev)
                @Html.ValidationMessageFor(model => model.UserDev)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PasswordDev_OverrideForStore, model => model.PasswordDev, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PasswordDev):
            </td>
            <td class="adminData">
                @Html.PasswordFor(model => model.PasswordDev, new { @class = "password form-control text-box single-line" })
                @Html.ValidationMessageFor(model => model.PasswordDev)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="Todopago_btnCredentialsDev" name="Todopago_btnCredentialsDev" value="@T("Plugins.Payments.TodoPago.BtnCredentials")" class="adminButton" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <br />
                    <em>Ambiente de Developers</em><br /><br />
                    <em>Datos correspondientes al ambiente de Developers</em><br /><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ApiKeyDeveloper_OverrideForStore, model => model.ApiKeyDeveloper, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ApiKeyDeveloper):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ApiKeyDeveloper)
                @Html.ValidationMessageFor(model => model.ApiKeyDeveloper)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SecurityDeveloper_OverrideForStore, model => model.SecurityDeveloper, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SecurityDeveloper):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecurityDeveloper)
                @Html.ValidationMessageFor(model => model.SecurityDeveloper)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MerchantDeveloper_OverrideForStore, model => model.MerchantDeveloper, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MerchantDeveloper):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantDeveloper)
                @Html.ValidationMessageFor(model => model.MerchantDeveloper)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <br />
                    <em>Credenciales de producción</em><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.User_OverrideForStore, model => model.User, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.User):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Password_OverrideForStore, model => model.Password, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.Password):
            </td>
            <td class="adminData">
                @Html.PasswordFor(model => model.Password, new { @class = "password form-control text-box single-line" })
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="Todopago_btnCredentials" name="Todopago_btnCredentials" value="@T("Plugins.Payments.TodoPago.BtnCredentials")" class="adminButton" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <br />
                    <em>Ambiente de Produccion</em><br /><br />
                    <em>Datos correspondientes al ambiente de produccion</em><br /><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ApiKeyProduction_OverrideForStore, model => model.ApiKeyProduction, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ApiKeyProduction):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ApiKeyProduction)
                @Html.ValidationMessageFor(model => model.ApiKeyProduction)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SecurityProduction_OverrideForStore, model => model.SecurityProduction, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SecurityProduction):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecurityProduction)
                @Html.ValidationMessageFor(model => model.SecurityProduction)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.MerchantProduction_OverrideForStore, model => model.MerchantProduction, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.MerchantProduction):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantProduction)
                @Html.ValidationMessageFor(model => model.MerchantProduction)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <em>Estado de la orden</em><br /><br />
                    <em>Datos correspondientes al estado de la orden</em><br /><br />
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransaccionIniciadaId_OverrideForStore, model => model.TransaccionIniciadaId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TransaccionIniciadaValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransaccionIniciadaId", Model.TransaccionIniciadaValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransaccionAprobadaId_OverrideForStore, model => model.TransaccionAprobadaId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TransaccionAprobadaValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransaccionAprobadaId", Model.TransaccionAprobadaValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransaccionRechazadaId_OverrideForStore, model => model.TransaccionRechazadaId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TransaccionRechazadaValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransaccionRechazadaId", Model.TransaccionRechazadaValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransaccionOfflineId_OverrideForStore, model => model.TransaccionOfflineId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TransaccionOfflineValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransaccionOfflineId", Model.TransaccionOfflineValues)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>

    <script type="text/javascript">
        var rootPath = "@Url.Content("~")";

        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "https://api.github.com/repos/TodoPago/Plugin-NopCommerce/releases/latest",
                headers: { 'Authorization': 'token 21600a0757d4b32418c54e3833dd9d47f78186b4' }
            }).done(function (response) {
                var versionActual = '@ViewBag.versionTodoPago';
                versionActual = versionActual.replace(/[^0-9.]/g, '');

                var versionProdHuman = response.tag_name;
                var versionProd = response.tag_name;
                versionProd = versionProd.replace(/[^0-9.]/g, '');

                if (versionCompare(versionProd, versionActual) > 0) {
                    $('.github-message').html('Se encuentra disponible una versión más reciente del plugin de Todo Pago, puede consultarla desde <a href="https://github.com/TodoPago/Plugin-NopCommerce" target="_blank">aquí</a>.');
                }
            });

            versionCompare = function (left, right) {
                if (typeof left + typeof right != 'stringstring')
                    return false;

                var a = left.split('.')
                    , b = right.split('.')
                    , i = 0, len = Math.max(a.length, b.length);

                for (; i < len; i++) {
                    if ((a[i] && !b[i] && parseInt(a[i]) > 0) || (parseInt(a[i]) > parseInt(b[i]))) {
                        return 1;
                    } else if ((b[i] && !a[i] && parseInt(b[i]) > 0) || (parseInt(a[i]) < parseInt(b[i]))) {
                        return -1;
                    }
                }

                return 0;
            }
        });
    </script>

    <script src="@Url.Content("~/Plugins/Payments.TodoPago/Scripts/TodoPago.js")"></script>
}